<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	
<img src="/images/ball1.jpg" width="50" height="50" />
<h2>게시물 목록</h2>
<a href="/board/insert/0">글쓰기</a>
<a href="/board/list/1/all">모두출력</a>
<a th:href="@{'/board/list/1/'+${session.user.id}}" th:text="내글"></a>
<br />
<br />

<!--<span th:text="${session.id}+'님 로그인하였습니다.'"></span>-->
<span th:text="${session.user.id}+'('+${session.user.name}+')님 로그인하였습니다.'"></span>

<table>
	<tr>
		<td>글번호</td>
		<td>제목</td>
		<td>작성자</td>
		<td>등록</td>
	</tr>
	<tr th:each="b:${list}">
		<td th:text="${b.no}"></td>
		<td>
			<span th:if="${b.b_level>0}">
				<span th:each="i:${#numbers.sequence(1, b.b_level)}">&nbsp;&nbsp;</span>
				-->
			</span>
			<a th:href="@{'/board/detail/'+${b.no}}" th:text="${b.title}"></a>
		</td>
		<td><a th:href="@{'/board/list/1/'+${b.writer}}" th:text="${b.writer}"></a></td>
		<td th:text="${b.regdate}"></td>
	</tr>
</table>
<hr />
	<th:block th:each="i:${#numbers.sequence(1,totalPage)}">
		<a th:href="@{'/board/list/'+${i}+'/'+${writer}}" th:text="${i}"></a>		
	</th:block>
</body>
</html>


















